/* ==================================================
   Add your own style here. This file will overide properties described in any other css file.
================================================== */

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999999;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-24.39px,-15px);
}

.spinner img {
    height: 30px !important;
}


.program-schedule-navs a {
    background: #fff;
    color: var(--cl-purple);
    font-weight: 700;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px !important;
}